<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <opencontrol_configuration>
            <opencontrol_parameters>
                <sandbox_sk backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <live_sk backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </opencontrol_parameters>
        </opencontrol_configuration>
    </default>
</config>