<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="opencontrol_configuration" translate="label" sortOrder="10000" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>OpenControl</label>
            <tab>sales</tab>
            <resource>OpenControl_Integration::configuration</resource>
            <group id="opencontrol_parameters" translate="label"  showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuración OpenControl</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Habilitar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_sandbox" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sandbox</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sandbox_license" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sandbox Licencia</label>   
                    <depends>
                        <field id="is_sandbox">1</field>
                    </depends>                                
                </field>
                <field id="sandbox_merchant_id" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sandbox Merchant Id</label>   
                    <depends>
                        <field id="is_sandbox">1</field>
                    </depends>                                
                </field>
                <field id="sandbox_sk" translate="label" type="obscure" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sandbox Llave Secreta</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="is_sandbox">1</field>
                    </depends>               
                </field>
                <field id="sandbox_pk" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sandbox Llave Pública</label>            
                    <depends>
                        <field id="is_sandbox">1</field>
                    </depends>                 
                </field>
                <field id="live_license" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Producción Licencia</label>   
                    <depends>
                        <field id="is_sandbox">0</field>
                    </depends>                                
                </field>
                <field id="live_merchant_id" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Producción Merchant Id</label>   
                    <depends>
                        <field id="is_sandbox">0</field>
                    </depends>                                
                </field>
                <field id="live_sk" translate="label" type="obscure" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Producción Llave Secreta</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="is_sandbox">0</field>
                    </depends>               
                </field>
                <field id="live_pk" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Producción Llave Pública</label>            
                    <depends>
                        <field id="is_sandbox">0</field>
                    </depends>                       
                </field>
                <field id="payment_methods" translate="label" type="multiselect" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Métodos de pago a analizar</label>
					<source_model>Magento\Payment\Model\Config\Source\Allmethods</source_model>
                    <validate>validate-select</validate>
                </field>
            </group>
        </section>
    </system>
</config>